server:
  port: 7001

eureka:
  instance:
    hostname: eureka7001.com #eureka服务端实例的名称
  client:
    register-with-eureka: false #表示不向注册中心注册自己
    fetch-registry: false #false表示自己就是注册中心
    #集群指向其他eureka
    service-url:
      #单机7001就是自己
      defaultZone: http://localhost:7001/eureka/


  #关闭自我保护机制，保证不可用服务时被及时剔除
#  server:
#    enable-self-preservation: false
#    eviction-interval-timer-in-ms: 2000
